/*********************/

.header {
  margin: 0;
  letter-spacing: -0.05em;
  color: #fff;
}

/* Images */

.gpup-graph {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: block;
  object-fit: cover;
  height: 170px;
  width: 170px;
}

.chess-board {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 170px;
}

.java-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

.tomcat-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

.okhttp-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

.gson-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

.cpp-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

.visual-studio-pic {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  max-height: 50px;
  opacity: 90%;
  align-self: flex-end;
}

/* Images */

.flex {
  display: flex;
  flex-direction: column;
}

.gpup {
  display: block;
  font-family: Inter, sans-serif;
  color: #fff;
  height: fit-content;
}

.board-games {
  display: block;
  font-family: Inter, sans-serif;
  color: #fff;
  padding-top: 95px;
}

.board-games-paragraph {
  max-width: 350px;
}

.gpup-paragraph {
  max-width: 350px;
}

/* Containers */

.gpup-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  max-height: 180px;
}

.board-games-container {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  max-height: 180px;
}

.gpup-skills-container {
  display: flex;
  justify-content: center;
  max-width: 350px;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.board-games-skills-container {
  display: flex;
  justify-content: center;
  max-width: 350px;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Containers */

h1 {
  margin-top: 0px;
}
